:root {
    --shape-box-shadow: 1px 1px 12px 1px rgba(100, 100, 100, 0.8);
    --text-shadow: 0 0 12px rgba(100, 100, 100, 0.8);
    --colorWhite: #fff;
    --colorLightGray: #ccc;
    --colorSlateGray: #455a64;
}

.root {
    z-index: 1;
    width: 100%;
    height: 600px;
    position: relative;
    border-radius: 16px;
    background: var(--colorWhite);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}
.activeDiv {
    position: absolute;
    background-color: transparent;
    z-index: 10;
    border-radius: 16px;
    display: flex;
}
.activeDiv.showActiveDiv {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.25s ease-in-out;
}

.activeDiv.hideActiveDiv {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transition: all 0.25s ease-in-out;
}

.activeDiv.edit, .activeDiv.preview {
    display: none;
}

.activeDiv.hideActiveDiv > .activeImage {
    display: none;
}
.activeImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 8px;
}

.root > *.edit {
    transition: all 0.25s ease-in-out;
}

.hidden {
    visibility: hidden;
}

.preview.root {
    width: 1200px;
    height: 600px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0;
    opacity: 0;
}

.slideItem {
    padding: 6px 12px;
    height: 50%;
}

.tile {
    position: relative;
    height: 100%;
    --custom_color: transparent;
    cursor: pointer;
    user-select: none;
}

.tile:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.25s ease-in-out;
}

.totalTiles {
    position: absolute;
    bottom: -24px;
    right: 10px;
    font-size: 13px;
    font-weight: 500;
    color: #263238;
}

.btn {
    margin: 0;
    padding: 0;
    background: none;
    font: inherit;
    text-align: center;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btnAddTile {
    position: absolute;
    z-index: 12;
    bottom: -24px;
    width: 48px;
    height: 48px;
    font-size: 14px;
    font-weight: 700;
    background-color: #00a6a8;
    color: var(--colorWhite);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
    transition: background-color 0.25s ease-in-out;
}

.btnAddTile:hover {
    background-color: rgb(0, 116, 117);
}

.addTileIcon {
    max-width: 20px;
    margin: 0 auto;
    vertical-align: middle;
}

.btnDeleteTile {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    top: -4px;
    right: 4px;
    width: 32px;
    height: 32px;
    background-color: var(--colorWhite);
    border: 1px solid var(--colorLightGray);
}

.deleteTileIcon {
    max-width: 14px;
    vertical-align: middle;
}

.btnAddTile:not(.edit),
.btnDeleteTile:not(.edit),
.totalTiles:not(.edit),
.preview .btnAddTile,
.preview .btnDeleteTile,
.preview .totalTiles {
    display: none !important;
}

.slideItem:hover > .tile:before,
.preview.root .tile:before {
    background-color: var(--custom_color);
    transform: scaleY(1.1) scaleX(1.05);
    border-radius: 24px;
}

.slideItem:hover .btnDeleteTile {
    display: inline-flex;
}

.tile.active:before {
    background-color: var(--custom_color);
    transform: scaleY(1.1) scaleX(1.05);
    border-radius: 24px;
}

.slideItem:hover > .tileImage, .preview.root .tileImage {
    transform: scale(1.35) rotate(360deg);
}

.tileImage {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -55px;
    margin-top: -55px;
    z-index: 3;
    width: 110px;
    height: auto;
    max-height: 110px;
    object-fit: contain;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.tileText {
    z-index: 3;
    font-size: 28px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    margin-top: 70px;
    width: 80%;
    left: 50%;
    margin-left: -40%;
    text-align: center;
    color: var(--colorSlateGray);
    transition: all 0.25s ease-in-out;
}

.slideItem:hover > .tileText,
.preview.root .tileText {
    transform: scale(1.1);
    color: var(--colorWhite);
    top: 55%;
}

.swiper {
    width: 100%;
    padding: 24px 0;
}

@media screen and (max-width: 1280px) {
    .tileText:not(.preview) {
        font-size: 24px;
        margin-top: 70px;
    }
}

@media screen and (max-width: 1200px) {
    .slideItem:hover > .tileImage {
        transform: scale(1.20) rotate(360deg);
    }

    .tileImage:not(.preview) {
        width: 90px;
        max-height: 90px;
        margin-left: -45px;
        margin-top: -45px;
    }
}

@media screen and (max-width: 960px) {
    .tileImage:not(.preview) {
        width: 120px;
        max-height: 120px;
        margin-left: -60px;
        margin-top: -60px;
    }

    .tileText:not(.preview) {
        font-size: 28px;
        margin-top: 80px;
    }

    .slideItem:hover > .tileImage {
        transform: scale(1.25) rotate(360deg);
    }
}

@media screen and (max-width: 600px) {
    .root:not(.preview) {
        height: 500px;
    }

    .tileImage:not(.preview) {
        width: 90px;
        max-height: 90px;
        margin-left: -45px;
        margin-top: -45px;
    }

    .tileText:not(.preview) {
        font-size: 24px;
        margin-top: 60px;
    }
}
