.root {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  user-select: none;
  border-radius: 12px;
}

.root::before {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.preview.root {
  width: 1200px;
  height: 675px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  border-radius: 0;
}

.rootScene {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
