:root {
    --shape-box-shadow: 1px 1px 12px 1px rgba(100, 100, 100, 0.8);
    --text-shadow: 0 0 12px rgba(100, 100, 100, 0.8);
    --border-radius: 100px;
    --button-background-color: green;
    --button-text-color: white;
}

.root {
    z-index: 1;
    width: 100%;
    height: 100%;
    min-height: 600px;
    position: relative;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.root.editRoot {
    transition: all 1s ease-in-out;
}

.root > *.edit {
    transition: all 0.25s ease-in-out;
}

.image {
    cursor: pointer;
    z-index: 4;
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 60%;
    object-fit: cover;
    border-radius: 4px;
}

.button {
    position: absolute;
    cursor: pointer;
    min-width: 220px;
    min-height: 80px;
    z-index: 5;
    bottom: 2%;
    right: 2%;
    object-fit: cover;
    border-radius:var(--border-radius);
    color: var(--button-text-color);
    font-size: 1.5rem;
    background-color: var(--button-background-color);
    animation: moveInBottom 0.5s ease-out;
    animation-fill-mode: backwards;
    box-shadow: 1px 1px 6px 1px rgba(100, 100, 100, 0.9);
    padding: 4px 8px;
}

.title {
    position: absolute;
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: 24px;
    z-index: 6;
    top: 8px;
    font-size: 70px;
    word-break: break-word;
}

.editText:hover {
    text-shadow: var(--text-shadow);
}

.hidden {
    visibility: hidden;
}

.edit:hover {
    box-shadow: var(--shape-box-shadow);
}

.active {
    box-shadow: var(--shape-box-shadow);
}

.title.active {
    box-shadow: none;
    text-shadow: var(--text-shadow);
}

.preview.root {
    width: 1200px;
    height: 600px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0;
    opacity: 0;
}

.button:link,
.button:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: var(--border-radius);
    transition: all .2s;
    position: absolute;
}

.button:not(.edit):hover {
    transform: translateY(-3px);
}

.button:not(.edit):active {
    transform: translateY(0);
    background-color: var(--button-background-color);
}

.button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    background-color: var(--button-background-color);
}

.button:not(.edit):hover::after {
    transform: scaleX(1.2) scaleY(1.4);
    opacity: 0;
}
@media screen and (max-width: 960px) {
    .title:not(.preview) {
        font-size: 60px;
        padding: 16px;
    }
    .button:not(.preview) {
        min-width: 176px;
        min-height: 64px;
    }
}


@media screen and (max-width: 600px) {
    .root:not(.preview) {
        height: auto;
        max-height: none;
        min-height: auto;
        padding-top: 340px;
    }
    .title:not(.preview) {
        width: 100%;
        text-align: center;
        font-size: 32px;
        line-height: 50px;
        padding: 8px;
    }
    .button:not(.preview) {
        min-width: 120px;
        min-height: 60px;
        font-size: 1rem;
    }
}


@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
